<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="RewriterConfig" type="UNV.Comm.URLRewriter.Config.RewriterConfigSerializerSectionHandler,UNV.Comm.URLRewriter" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="join.pms.wap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>

  <appSettings>
    <!-- 站点名称及访问地址 -->
    <add key="SiteUrl" value="/"/>
    <add key="SvrUrl" value="http://218.30.67.160:8051/"/>
    <add key="SiteName" value="勉县扶贫资金全程监测预警管理系统"/>
    <add key="SiteKeyWord" value="勉县扶贫资金全程监测预警管理系统,汉中市勉县,扶贫资金全程监测预警管理系统,陕西省,陕西,汉中市,扶贫资金,全程监测预警管理,监测预警管理,预警管理"/>
    <add key="SiteDescription" value="汉中市勉县扶贫资金全程监测预警管理系统"/>
    <add key="SiteArea" value="610725000000"/>
    <add key="SiteAreaName" value="汉中市勉县"/>

    <!--非法字符过滤-->
    <add key="SiteFilter" value="过滤关键词迁移至库中"/>
    <!-- 连接字符串密 -->
    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=pms_hz_mx;User ID=sa;Password=111111;Persist Security Info=False;Connect Timeout=300;"/>
    <!-- 页码参数 -->
    <add key="GridPageSize" value="12"/>
    <add key="BizPageSize" value="8"/>
    <add key="CmsPageSize" value="12"/>
    <!-- FCK编辑器参数 -->
    <add key="FCKeditor:BasePath" value="/ckeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/Files/"/>
    <!-- 文件上传设置-->
    <add key="BufferSize" value="128"/>
    <add key="MaxRequestSize" value="1024000"/>
    <add key="MaxRequestUser" value="10"/>
    <add key="TempPath" value="/Temp"/>
    <!-- 文件参数-->
    <add key="FileExtension" value="shtml"/>
    <add key="HttpCompress" value="On"/>
    <add key="WebResourceCompress" value="Off"/>
    <add key="CustomErrorPage" value="~/errors.aspx"/>
    <!-- 短讯参数 -->
    <add key="UserTel" value="09127615228"/>
    <add key="IdentifyKey" value="667788"/>
    <!-- 乡镇单位参数 -->
    <add key="AreaNo" value=""/>
    <add key="AreaVal" value=""/>
    <!-- 手机动态码有效期，秒 -->
    <add key="CheckCodeTimeOut" value="600" />
    <!-- 短讯参数 -->
    <add key="UserSign" value="【通辽市卫计委】" />
  </appSettings>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>/Default\.</LookFor>
        <SendTo><![CDATA[~/Default.aspx]]></SendTo>
      </RewriterRule>
      <!--CMS-->
      <RewriterRule>
        <LookFor>/INFO/(\d{1,8}?)-(\d{1,8}?)\.</LookFor>
        <SendTo><![CDATA[~/CmsList.aspx?c=$1&p=$2]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/INFO/(\d{1,8}?)/(\d{1,8}?)\.</LookFor>
        <SendTo><![CDATA[~/CmsView.aspx?c=$1&v=$2]]></SendTo>
      </RewriterRule>
      <!--Svrs-->
      <RewriterRule>
        <LookFor>/Svrs-BizCategories/(\d{2,8}?)-(\d{1,1}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/BizCategories.aspx?c=$1&t=$2]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Area/(\d{2,8}?)-(\d{1,1}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/AreaSelect.aspx?c=$1&t=$2]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0101/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0101.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz/(\d{2,8}?)-(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0102.aspx?c=$1&x=$2]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0102/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0102.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0103/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0103.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0104/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0104.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0105/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0105.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0106/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0106.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0107/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0107.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0108/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0108.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0109/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0109.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0110/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0110.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0111/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0111.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0112/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0112.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-Biz0122/(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/Biz0122.aspx?x=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-BizDocs/(\d{2,8}?)-(\d{1,8}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/BizDocs.aspx?c=$1&b=$2]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-BizSucess/(\d{2,8}?)-(\d{1,8}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/BizSucess.aspx?c=$1&b=$2]]></SendTo>
      </RewriterRule>
      <!--Svrs App-->
      <RewriterRule>
        <LookFor>/Svrs-AppA/(\d{2,8}?)-(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/BizCommonA.aspx?c=$1&x=$2]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-AppB/(\d{2,8}?)-(\d{11,12}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/BizCommonB.aspx?c=$1&x=$2]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/Svrs-License/(\d{2,8}?)-(\w{1,8}?)\.</LookFor>
        <SendTo><![CDATA[/SceneSvrs/BizCategoryLicense.aspx?c=$1&b=$2]]></SendTo>
      </RewriterRule>
      <!--user login reg-->
      <RewriterRule>
        <LookFor>/OqZXiaLfhvEzcqI7c58ZyE79ieaIWaOhqAV9enaGYJLngfoBOn8dQS6kIzPdZdjh\.</LookFor>
        <SendTo><![CDATA[/UserCenter/UserLogin.aspx]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/OqZXiaLfhvEzcqI7c58ZyE79ieaIWaOhqAV9enaGYJLngfoBOn8dQS6kIzPdZdjhbytel\.</LookFor>
        <SendTo><![CDATA[/UserCenter/UserLoginByTel.aspx]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/YslXiaLfhvEzcqI7c58ZyE79ieaIWaOhqAV9enaGYJLngfoBOn8dQS6kIzPdZdxx\.</LookFor>
        <SendTo><![CDATA[/UserCenter/UserRegister.aspx]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/USERSIGNOUT\.</LookFor>
        <SendTo><![CDATA[/UserCenter/UserLogOut.aspx]]></SendTo>
      </RewriterRule>
      <!--UserCenter-->
      <RewriterRule>
        <LookFor>/OC\.</LookFor>
        <SendTo><![CDATA[/UserCenter/Default.aspx]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/OC/(\d{2,6}?)-(\d{1,2}?)\.</LookFor>
        <SendTo><![CDATA[/UserCenter/DataList.aspx?c=$1&p=$2]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/OC/UserInfo\.</LookFor>
        <SendTo><![CDATA[/UserCenter/UserInfo.aspx]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/OC/ModifyPwd\.</LookFor>
        <SendTo><![CDATA[/UserCenter/ModifyPwd.aspx]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/OC/UserTel\.</LookFor>
        <SendTo><![CDATA[/UserCenter/UserTel.aspx]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/OC/Svrs-(\d{1,8}?)\.</LookFor>
        <SendTo><![CDATA[/UserCenter/UserInfo.aspx?c=$1]]></SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>/OC/SMS-(\d{1,8}?)\.</LookFor>
        <SendTo><![CDATA[/UserCenter/UserInfo.aspx?c=$1]]></SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <system.web>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" >
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!-- 跟踪设置 -->
    <trace enabled="false" requestLimit="20" pageOutput="true" traceMode="SortByTime" localOnly="true"/>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="false" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" defaultRedirect="~/errors.aspx">
      <error statusCode="404" redirect="~/errors.aspx" />
    </customErrors>
    <!-- 大文件上传设置 -->
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="1024000" executionTimeout="900"/>
    <httpHandlers>
      <add verb="*" path="UploadStatusBar.ashx" type="UNV.Comm.Upload.UploadStatusHandler,UNV.Comm.Upload"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <!--验证
			<add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
			<add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory, System.Web,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
    </httpHandlers>
    <httpModules>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <add name="UploadModule" type="UNV.Comm.Upload.UploadModule, UNV.Comm.Upload"/>
      <add name="UrlRewriter" type="UNV.Comm.URLRewriter.UrlRewriter,UNV.Comm.URLRewriter" />
      <add name="FilterUserRequest" type="UNV.Comm.Web.HttpModules.FilterUserRequest,UNV.Comm.Web"/>
      <add name="CompressionModule" type="UNV.Comm.Web.HttpModules.CompressionModule, UNV.Comm.Web"/>
    </httpModules>
    <!--验证设置
		<httpModules>
			<add name="Session" type="System.Web.SessionState.SessionStateModule"/>
		</httpModules>
		<trust level="Full" originUrl="" />
		<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="90"/>
			  -->
    <!-- 区域设置 -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN"/>
  </system.web>
  <system.webServer>
    <!--附件上传限制：12M以内-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="12600000"></requestLimits>
      </requestFiltering>
    </security>
    <handlers>
      <add name="UrlReWrite" path="*.shtml" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
    </handlers>
    <!--点击劫持配置：限制为本站-->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <applicationSettings>
    <join.pms.wap.Properties.Settings>
      <setting name="AreWeb_OnlineCertificate_Wap_iSvrs_DALSvrs" serializeAs="String">
        <value>http://218.30.67.160:8051/DALSvrs.asmx</value>
      </setting>
      <setting name="join_pms_wap_iSvrs_DALSvrs" serializeAs="String">
        <value>http://localhost:6430/DALSvrs.asmx</value>
      </setting>
    </join.pms.wap.Properties.Settings>
  </applicationSettings>
</configuration>
