@charset "gb2312";
/*差异样式*/
/* header */
.header_01 {
    background-image:url(/images/2013_12/09/top_bg.jpg);
}
.header_01 .fr, .header_01 .fr li a {
    background-color: #048C5C;
}

/*left*/
.left_01 .lm_yi, .left_01 .lm_yi a {
	background-image:url(/images/2013_12/09/ico_02.gif);
}
.left_01 .lm_yi a, .left_01 .lm_er_t, .left_01 .lm_er_a a, .left_01 .lm_er_b a, .left_01 .lm_san_a {
	border-color:#CCC;/*通用*/
}
.left_01 .leftbg {
    background-color: #E5F3EE;
}
.left_01 .lm_yi:hover a, .left_01 .lm_yi_hover a, .left_01 .lm_er_a a:hover, .left_01 .lm_er_b a:hover, .left_01 .lm_san a:hover {
	color:#038D5E;
}

/*right*/
.left_r_01 .leftbg_r {
    background-color: #037049;
}
.line_t {
    background-image:url(/images/2013_12/09/ico_05.gif);
}
.left_ss_r .ss_r, .left_ss_r .ss_l {
    background-image:url(/images/2013_12/09/right_lr.gif);
}

/*起始页*/
.part_12_02 {
	border-color:#038D5E;
}
.part_12_03 .part_12_03a {
    border-top: 2px solid #038D5E;
}
.part_12_02 .part_12_02a .part_title p, .part_12_03 .part_title, .part_12_03 .part_12_03a li span, .part_12_03 .color_01 {
    color: #038D5E;
}
.mbx, .header_02 a, .part_12_03 .part_12_03a li b {
    background-image:url(/images/2013_12/09/ico_03.gif);
}

/*内容 列表 页码*/
#DargTableByYsl th {
    background-color: #038D5E;
    border-bottom: none;
}
#DargTableByYsl .rowHover td {
	background-color: #FFF5E0;/*通用*/
}
.page a:hover, .page .on {
    border-color: #038D5E;
	background-color: #038D5E;
}
.submit6 {
    background-image:url(/images/2013_12/09/gif_10.gif);
	color:#038D5E;
}
#ec_bodyZone .submit6 {
    background-image:url(/images/2013_12/09/gif_10.gif);
	color:#FFFFFF;
}
#DargTableByYsl .edit {
    background-image:url(/images/2013_12/09/icon-edit.gif);
}
#DargTableByYsl .del {
    background-image:url(/images/2013_12/09/icon-del.gif);
}