.bg{
    width:1500px;
    height:800px;
    margin:0 auto;
    background: #ddd;
    position: relative;
}
.bg>img{
    width:100%;
    height:100%;
}
body,div,h3,p,h2,h4{
    margin:0;
    padding:0;
}
h3{
    text-align: center;
    width:100%;
    padding:5px 0;
    margin:15px 0 5px 0;
    font-weight:100;
    color:red;
    font-size:26px;
    text-shadow:1px 1px 0 #8494ea;
}
form{
    position:absolute;
    width:480px;
    height:350px;
    background: rgba(255,255,255,0.5);
    left:55%;
    top:27%;
    padding:10px;
    border-radius:30px;
}
p{
    padding:5px;
    text-align: center;
}
input{
    outline:none;
    border:1px solid #ada17d;
    height:30px;
    border-radius:10px;
    padding-left:10px;
    width:185px;

}
p button{
    outline:none;
    padding:8px 40px;
    border:none;
    border-radius:10px;
    color:#fff;
    font-weight: bold;
    background:rgba(226,132,34,0.9);
    font-size:18px;
}
label{
    display: inline-block;
    width:80px;
    text-align: right;
    margin-right:5px;
    color: #3e3e71;
    font-weight:bold;
}
input::-webkit-input-placeholder, input:-moz-placeholder,input::-moz-placeholder,
input:-ms-input-placeholder{
    color:#ddd;
    font-size:12px;
}
input:-moz-placeholder{

}
.bg div img{
    width:100%;
    height:100%;
}
h2{
    position: absolute;
    left:400px;;
    top:80px;
    font-weight:100;
    color: #ffb039;
    font-size:56px;
    text-shadow:2px 1px 2px red;
}
h4{
    position: absolute;
    left:450px;
    top:150px;
    font-weight:100;
    font-size:20px;
    color: #e0b472;
    text-shadow:1px 1px 1px red;
}
.yzm{
    position: absolute;
    left:205px;
    top:10px;
    width:90px;
    height:30px;
    border:1px solid #ada17d;
    border-radius:10px;
    background: #ffffff;
    text-align: center;
    line-height:30px;
    color: #6b7aff;
}
.niao{
    position: absolute;left:160px;;
    top:300px;;
    width:470px;
    height:110px;
}