<?xml version="1.0" encoding="gb2312" ?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:Locale="zh-CN">
      <xs:complexType>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="Grid_Config">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="FuncNo" type="xs:string" minOccurs="0" />
                <xs:element name="FuncInfo" type="xs:string" minOccurs="0" />
                <xs:element name="Titles" type="xs:string" minOccurs="0" />
                <xs:element name="Fields" type="xs:string" minOccurs="0" />
                <xs:element name="Width" type="xs:string" minOccurs="0" />
                <xs:element name="Align" type="xs:string" minOccurs="0" />
                <xs:element name="Format" type="xs:string" minOccurs="0" />              
                <xs:element name="RowLink" type="xs:string" minOccurs="0" />
                <xs:element name="OperName" type="xs:string" minOccurs="0" />
                <xs:element name="OperLink" type="xs:string" minOccurs="0" />
                <xs:element name="OperVisible" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <!-- Biz管理 -->
  <Grid_Config>
    <FuncNo>02</FuncNo>
    <FuncInfo>v_BizList,BizID,业务管理,NoCheck</FuncInfo>
    <Titles>业务名称,状态,发起时间</Titles>
    <Fields>BizName,AttribsCN,StartDate</Fields>
    <Width>100,50,60</Width>
    <Align>0,0,0</Align>
    <Format>0,0,1</Format>
    <RowLink>/UserCenter/BizView.aspx?action=view,#,#</RowLink>
    <OperName>详细,进度,评价,撤销,xx,催办</OperName>
    <OperLink>/UserCenter/BizView.aspx?action=view,/UserCenter/BizWorkFlows.aspx?action=view,/UserCenter/UserPraise.aspx?1=1,/UserCenter/BizView.aspx?action=chexiao,#?action=5,/UserCenter/BizView.aspx?action=cui</OperLink>
    <OperVisible>1,1,0,1,0,1</OperVisible>
  </Grid_Config>
  <!-- BizDocs管理 -->
  <Grid_Config>
    <FuncNo>BizDocs</FuncNo>
    <FuncInfo>v_BizDocs,CommID,业务附件管理,NoCheck</FuncInfo>
    <Titles>证件/文档名称,证件类型,上传时间</Titles>
    <Fields>DocsName,DocsType,OprateDate</Fields>
    <Width>100,60,60</Width>
    <Align>0,0,0</Align>
    <Format>0,0,1</Format>
    <RowLink>/UserCenter/#.aspx?action=view,#,#</RowLink>
    <OperName>新增,xx,xx,xx,xx,xx</OperName>
    <OperLink>#?action=1,#?action=2,#?action=3,#?action=4,#?action=5,#?action=6</OperLink>
    <OperVisible>0,0,0,0,0,0</OperVisible>
  </Grid_Config>
  <!-- Note管理 -->
  <Grid_Config>
    <FuncNo>NoteList</FuncNo>
    <FuncInfo>v_NoteList,MsgID,Note管理,NoCheck</FuncInfo>
    <Titles>类型,标题,发起时间,是否回复</Titles>
    <Fields>MsgCodeCN,MsgTitle,OprateDate,IsReply</Fields>
    <Width>80,200,80,60,60</Width>
    <Align>0,0,0,0,0</Align>
    <Format>0,0,1,0,0</Format>
    <RowLink>#,/UserCenter/NoteView.aspx?action=view,#,#</RowLink>
    <OperName>新增,编辑,查看,删除,xx,xx</OperName>
    <OperLink>/UserCenter/NoteEdit.aspx?action=add,/UserCenter/NoteEdit.aspx?action=edit,#?action=3,#?action=4,#?action=5,#?action=6</OperLink>
    <OperVisible>1,1,0,0,0,0</OperVisible>
  </Grid_Config>
  <!--SMS管理 -->
  <Grid_Config>
    <FuncNo>04</FuncNo>
    <FuncInfo>v_SMS,SysNo,SMS管理,NoCheck</FuncInfo>
    <Titles>目标手机号,短信内容,发送时间,状态</Titles>
    <Fields>CellNumber,SMSContent,CreateTime,IsReadCN</Fields>
    <Width>80,100,80,80</Width>
    <Align>0,0,0,0</Align>
    <Format>0,0,1,0</Format>
    <RowLink>#,/UserCenter/SMSView.aspx?action=view,#,#</RowLink>
    <OperName>查看,xx,xx,xx,xx,xx</OperName>
    <OperLink>/UserCenter/SMSView.aspx?action=view,#?action=2,#?action=3,#?action=4,#?action=5,#?action=6</OperLink>
    <OperVisible>1,0,0,0,0,0</OperVisible>
  </Grid_Config>
  <!--Favorites管理 -->
  <Grid_Config>
    <FuncNo>03</FuncNo>
    <FuncInfo>v_BizPersonFavorites,CommID,Favorites管理,NoCheck</FuncInfo>
    <Titles>收藏名称,类别,转向地址,收藏时间</Titles>
    <Fields>FavoriteTitle,FavoriteTypeCN,FavoriteUrl,CreateDate</Fields>
    <Width>150,50,150,60</Width>
    <Align>0,0,0,0</Align>
    <Format>0,0,0,1</Format>
    <RowLink>/UserCenter/FavoritesView.aspx?action=view,#,#,#</RowLink>
    <OperName>查看,删除,xx,xx,xx,xx</OperName>
    <OperLink>/UserCenter/FavoritesView.aspx?action=view,/UserCenter/FavoritesView.aspx?action=del,#?action=3,#?action=4,#?action=5,#?action=6</OperLink>
    <OperVisible>1,1,0,0,0,0</OperVisible>
  </Grid_Config>
  <!-- 子女信息管理 -->
  <Grid_Config>
    <FuncNo>07</FuncNo>
    <FuncInfo>BIZ_PersonChildren,CommID,子女信息管理,NoCheck</FuncInfo>
    <Titles>姓名,性别,出生日期,来源,是否政策内</Titles>
    <Fields>ChildName,ChildSex,ChildBirthday,ChildSource,ChildPolicy</Fields>
    <Width>100,60,60,60,60</Width>
    <Align>0,0,0,0,0</Align>
    <Format>0,0,1,0,0</Format>
    <RowLink>#,#,#,#,#</RowLink>
    <OperName>新增,修改,xx,xx,xx,xx</OperName>
    <OperLink>#?action=1,#?action=2,#?action=3,#?action=4,#?action=5,#?action=6</OperLink>
    <OperVisible>0,0,0,0,0,0</OperVisible>
  </Grid_Config>
  <!-- 婚姻信息管理 -->
  <Grid_Config>
    <FuncNo>08</FuncNo>
    <FuncInfo>BIZ_PersonMarryRec,CommID,婚姻信息管理,NoCheck</FuncInfo>
    <Titles>婚姻类型,婚姻时间,配偶姓名,配偶身份证号</Titles>
    <Fields>MarryType,MarryDate,MateName,MateCardID</Fields>
    <Width>100,100,100,100</Width>
    <Align>0,0,0,0</Align>
    <Format>0,1,0,8</Format>
    <RowLink>#,#,#,#</RowLink>
    <OperName>新增,xx,xx,xx,xx,xx</OperName>
    <OperLink>#?action=1,#?action=2,#?action=3,#?action=4,#?action=5,#?action=6</OperLink>
    <OperVisible>0,0,0,0,0,0</OperVisible>
  </Grid_Config>
</NewDataSet>
