<?xml version="1.0" encoding="gb2312" ?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:Locale="zh-CN">
      <xs:complexType>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="Grid_Config">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="FuncNo" type="xs:string" minOccurs="0" />
                <xs:element name="FuncInfo" type="xs:string" minOccurs="0" />
                <xs:element name="Titles" type="xs:string" minOccurs="0" />
                <xs:element name="Fields" type="xs:string" minOccurs="0" />
                <xs:element name="Width" type="xs:string" minOccurs="0" />
                <xs:element name="Align" type="xs:string" minOccurs="0" />
                <xs:element name="Format" type="xs:string" minOccurs="0" />
                <xs:element name="RowLink" type="xs:string" minOccurs="0" />
                <xs:element name="TabName" type="xs:string" minOccurs="0" />
                <xs:element name="TabLink" type="xs:string" minOccurs="0" />
                <xs:element name="TabVisible" type="xs:string" minOccurs="0" />
                <xs:element name="ButName" type="xs:string" minOccurs="0" />
                <xs:element name="ButLink" type="xs:string" minOccurs="0" />
                <xs:element name="ButVisible" type="xs:string" minOccurs="0" />
                <xs:element name="Analys" type="xs:string" minOccurs="0" />
				        <xs:element name="Query" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <!--共享数据13-->
  <Grid_Config>
    <FuncNo>0101</FuncNo>
    <FuncInfo>v_BizList,BizID,一孩生育登记,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0101.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0101.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,女方姓名,身份证号,联系电话,婚姻状况,户籍地址,现居住地,男方姓名,身份证号,联系电话,婚姻状况,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds08,PersonCidB,ContactTelB,Fileds13,RegAreaNameB,CurAreaNameB,Fileds01,PersonCidA,ContactTelA,Fileds33,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,160,160,80,120,80,80,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0101.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0101.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
	<Grid_Config>
	<FuncNo>0102</FuncNo>
    <FuncInfo>v_BizList,BizID,二孩生育登记,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0102.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0102.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,女方姓名,身份证号,联系电话,婚姻状况,男方姓名,身份证号,联系电话,户籍地址,婚姻状况,工作单位,现居住地,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds08,PersonCidB,ContactTelB,Fileds13,Fileds01,PersonCidA,ContactTelA,RegAreaNameB,Fileds33,Fileds05,CurAreaNameA,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,80,120,80,160,80,120,160,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0102.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0102.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
	</Grid_Config>
  <Grid_Config>
    <FuncNo>010299</FuncNo>
    <FuncInfo>v_010299,Fileds01,二孩生育登记花名,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0102.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0102.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>姓名,民族,户口性质,身份证号,婚姻状况,户籍地,姓名,民族,户口性质,身份证号,婚姻状况,户籍地,孩次,符合条例生育政策,审核时间,操作时间</Titles>
    <Fields>Fileds01,Fileds03,Fileds04,PersonCidA,Fileds33,RegAreaNameA,Fileds08,Fileds10,Fileds11,PersonCidB,Fileds13,RegAreaNameB,Fileds18,Comments,CreateDate,OprateDate</Fields>
    <Width>60,80,70,80,80,120,80,80,80,120,80,160,80,120,160,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0102.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0102.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
  <Grid_Config>
    <FuncNo>0103</FuncNo>
    <FuncInfo>v_BizList,BizID,农村部分计划生育家庭奖励扶助对象申报审核,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0103.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0103.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,本人姓名,身份证号,婚姻状况,联系电话,户籍地址,存活男孩,存活女孩,配偶姓名,身份证号,婚姻状况,联系电话,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds01,PersonCidA,Fileds33,ContactTelA,RegAreaNameA,Fileds37,Fileds38,Fileds08,PersonCidB,Fileds13,ContactTelB,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,160,80,80,80,120,80,80,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,年审,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0103.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0103.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,1,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
  <Grid_Config>
    <FuncNo>0104</FuncNo>
    <FuncInfo>v_BizList,BizID,计划生育家庭特别扶助对象申请审核,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0104.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0104.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,本人姓名,身份证号,婚姻状况,联系电话,户籍地址,存活男孩,存活女孩,配偶姓名,身份证号,婚姻状况,联系电话,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds01,PersonCidA,Fileds33,ContactTelA,RegAreaNameA,Fileds37,Fileds38,Fileds08,PersonCidB,Fileds13,ContactTelB,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,160,80,80,80,120,80,80,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0104.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0104.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
  <Grid_Config>
    <FuncNo>0105</FuncNo>
    <FuncInfo>v_BizList,BizID,计划生育“少生快富”工程申请审核,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0105.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0105.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,妇女姓名,身份证号,婚姻状况,联系电话,户籍地址,存活男孩,存活女孩,配偶姓名,身份证号,婚姻状况,联系电话,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds08,PersonCidB,Fileds13,ContactTelB,RegAreaNameB,Fileds37,Fileds38,Fileds01,PersonCidA,Fileds33,ContactTelA,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,160,80,80,80,120,80,80,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0105.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0105.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
  <Grid_Config>
    <FuncNo>0106</FuncNo>
    <FuncInfo>v_BizList,BizID,内蒙古自治区政策内二孩和双女（蒙古族三女）结扎家庭奖励申请审核,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0106.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0106.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,本人姓名,身份证号,婚姻状况,联系电话,户籍地址,存活男孩,存活女孩,配偶姓名,身份证号,婚姻状况,联系电话,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds01,PersonCidA,Fileds33,ContactTelA,RegAreaNameA,Fileds37,Fileds38,Fileds08,PersonCidB,Fileds13,ContactTelB,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,160,80,80,80,120,80,80,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0106.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0106.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
  <Grid_Config>
    <FuncNo>0107</FuncNo>
    <FuncInfo>v_BizList,BizID,“一杯奶”受益对象申请审核,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0107.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0107.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,女方姓名,身份证号,联系电话,怀孕胎次,确认时间,现居住地,男方姓名,身份证号,联系电话,现居住地,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds08,PersonCidB,ContactTelB,Fileds41,Fileds43,CurAreaNameB,Fileds01,PersonCidA,ContactTelA,CurAreaNameA,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,80,160,80,120,80,160,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,1,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0107.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0107.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
  <Grid_Config>
    <FuncNo>0108</FuncNo>
    <FuncInfo>v_BizList,BizID,《独生子女父母光荣证》申请审核,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0108.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0108.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,母亲姓名,身份证号,联系电话,户籍地址,父亲姓名,身份证号,联系电话,户籍地址,子女姓名,出生日期,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds08,PersonCidB,ContactTelB,RegAreaNameB,Fileds01,PersonCidA,ContactTelA,RegAreaNameA,Fileds16,Fileds20,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,160,80,120,80,160,80,100,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,1,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0108.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0108.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
  <Grid_Config>
    <FuncNo>0109</FuncNo>
    <FuncInfo>v_BizList,BizID,《流动人口婚育证明》申请审核,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0109.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0109.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,持证人,身份证号,联系电话,婚姻状况,户籍地址,配偶姓名,身份证号,联系电话,婚姻状况,户籍地址,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds01,PersonCidA,ContactTelA,Fileds33,RegAreaNameA,Fileds08,PersonCidB,ContactTelB,Fileds13,RegAreaNameB,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,160,80,120,80,80,160,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0109.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0109.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
  <Grid_Config>
    <FuncNo>0110</FuncNo>
    <FuncInfo>v_BizList,BizID,婚育情况证明,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0110.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0110.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,本人姓名,身份证号,婚姻状况,联系电话,户籍地址,配偶姓名,身份证号,婚姻状况,联系电话,户籍地址,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds01,PersonCidA,Fileds33,ContactTelA,RegAreaNameA,Fileds08,PersonCidB,Fileds13,ContactTelB,RegAreaNameB,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,160,80,120,80,80,160,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0110.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0110.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
  <Grid_Config>
    <FuncNo>0111</FuncNo>
    <FuncInfo>v_BizList,BizID,终止妊娠申请审核,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0111.aspx?action=edit,审核,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0111.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,妇女姓名,身份证号,婚姻状况,联系电话,政策属性,孕周,丈夫姓名,身份证号,联系电话,户籍地址,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds08,PersonCidB,Fileds13,ContactTelB,Fileds30,Fileds43,Fileds01,PersonCidA,ContactTelA,RegAreaNameA,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,80,80,80,120,80,160,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0111.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0111.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
  <Grid_Config>
    <FuncNo>0122</FuncNo>
    <FuncInfo>v_BizList,BizID,再生育服务证审批,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0122.aspx?action=edit,审批,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0122.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>编号,状态,申请方向,申请时间,女方姓名,身份证号,联系电话,婚姻状况,男方姓名,身份证号,联系电话,户籍地址,婚姻状况,工作单位,现居住地,办结时间</Titles>
    <Fields>BizID,AttribsCN,InitDirectionCN,StartDate,Fileds08,PersonCidB,ContactTelB,Fileds13,Fileds01,PersonCidA,ContactTelA,RegAreaNameB,Fileds33,Fileds05,CurAreaNameA,FinalDate</Fields>
    <Width>60,80,70,80,80,120,80,80,80,120,80,160,80,120,160,100</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审批,镇办审批,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0122.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0122.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>

	<Grid_Config>
		<FuncNo>0150</FuncNo>
		<FuncInfo>v_BizList,BizID,《婚育健康服务证》登记,IsCheck,发起,/BizInfo/AreaSelect.aspx?action=add,修改,/BizInfo/EditBiz0150.aspx?action=edit,审批,/BizInfo/BizFlowAudit.aspx?action=audit,查看,/BizInfo/BizPrt0150.aspx?action=viewDetails,IsAdd,IsEdit,IsDel,IsView</FuncInfo>
		<Titles>编号,状态,申请方向,申请时间,婚育健康服务证号,女方姓名,身份证号,联系电话,户籍地址,现居住地,男方姓名,身份证号,联系电话,办结时间</Titles>
		<Fields>BizID,AttribsCN,InitDirectionCN,StartDate,QcfwzBm,Fileds08,PersonCidB,ContactTelB,RegAreaNameB,CurAreaNameB,Fileds01,PersonCidA,ContactTelA,FinalDate</Fields>
		<Width>60,80,70,80,120,80,120,80,160,160,100,120,80,100</Width>
		<Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
		<Format>0,0,0,1,0,0,0,0,0,0,0,0,0,1</Format>
		<RowLink>#,#,#,#,/NHS/helpbiz01.aspx?action=view1,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
		<TabName>所有,社区/村审批,镇办审批,分类3,分类4</TabName>
		<TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
		<TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
		<ButName>补证,扩充,撤销,流程,注销,打印,打印确认,导出,归档</ButName>
		<ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizPrt0150.aspx?action=chexiao,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizLogoff.aspx?action=logoff,/BizInfo/BizPrt0150.aspx?action=print,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
		<ButVisible>1,0,1,1,1,1,1,1,1</ButVisible>
		<Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
		<Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
	</Grid_Config>
  <!--在线申请-->
  <Grid_Config>
    <FuncNo>OCAPP</FuncNo>
    <FuncInfo>v_BizList,BizID,事项申请,IsCheck,发起,#?action=add,修改,/BizInfo/xx.aspx?action=edit,审核,/BizInfo/BizFlowApp.aspx?action=audit,查看,/BizInfo/xx.aspx?action=2,NoAdd,IsEdit,IsDel,IsView</FuncInfo>
    <Titles>申请方向,姓名,性别,身份证号,联系电话,民族,户籍性质,户籍地址,生育状况,现有家庭子女数,现居住地,办理时间,流程节点,业务状态</Titles>
    <Fields>Initiator,Fileds01,Fileds02,PersonCidA,ContactTelA,Fileds03,Fileds04,RegAreaNameA,Fileds06,Fileds07,CurAreaNameA,FinalDate,CurrentStepNa,AttribsCN</Fields>
    <Width>150,80,60,120,80,80,80,160,80,60,160,80,100,80</Width>
    <Align>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Align>
    <Format>0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0</Format>
    <RowLink>#,#,#,#,#,#,#,#,#,#,#,#,#,#,#,#</RowLink>
    <TabName>所有,社区/村审核,镇办审核,分类3,分类4</TabName>
    <TabLink>#?TabPage=0,#?TabPage=1,#?TabPage=2,#?TabPage=3</TabLink>
    <TabVisible>1,1,1,0,0,0,0,0,0</TabVisible>
    <ButName>补证,扩充,服务评价,工作流程,事项处理,打印证件,打印确认,导出,归档</ButName>
    <ButLink>/BizInfo/EditBizDocs.aspx?action=Attach,#,/BizInfo/BizRating.aspx?action=rateview,/BizInfo/BizWorkFlows.aspx?action=2,/BizInfo/BizFlowApp.aspx?action=audit,/BizInfo/BizPrt0101.aspx?action=priint,/BizInfo/BizFlowAudit.aspx?action=printok,/BizInfo/xlsExport.aspx?action=exp,/BizInfo/BizFlowAudit.aspx?action=Guidang</ButLink>
    <ButVisible>1,0,1,1,1,0,0,0,0</ButVisible>
    <Analys>null,null,null,null,null,null,null,null,null,null,null,null,null,null,null</Analys>
    <Query>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</Query>
  </Grid_Config>
</NewDataSet>
